version: '2'
services:
    docker_registry:
        container_name: docker_registry
        image: daocloud.io/library/registry:latest
        volumes:
            - ../data/registry:/tmp/registry
        ports:
           - 5000:5000
    docker_gitlab:
        container_name: docker_gitlab
        build: 
            context: .
            dockerfile: gitlab/Dockerfile
        volumes:
            - ../data/gitlab/config:/etc/gitlab
            - ../data/gitlab/logs:/var/log/gitlab
            - ../data/gitlab/data:/var/opt/gitlab
        hostname: docker.gitlab.com
        ports:
            - 443:443
            - 81:80
            - 22:22
    docker_jekins:
        container_name: docker_jekins
        build: 
            context: .
            dockerfile: jekins/Dockerfile
        volumes:
            - ../data/jenkins:/var/jenkins_home 
        hostname: docker.jekins.com
        ports:
            - 8080:8080



 